:root {
  --plum: #dda0dd;
  --coral: #f08080;
  --lavender: #e6e6fa;
  --orange: #ffa500;
  --darkgolden: #b8860b;
  --chocolate: #d2691e;
  --lightblue: #87cefa;
  --lightgreen: #90ee90;
}

.button {
  width: 160px;
  height: 50px;
  border: 0px;
  border-radius: 6px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1em;
}

.button:hover {
  background-color: var(--lightgreen);
  color: var(--black);
}

@media (max-width: 414px) {
  body {
    background: var(--purple);
    color: var(--white);
    font-size: 1em;
  }

  .button:hover {
    background: linear-gradient(to right, var(--plum), var(--coral));
    color: var(--black);
  }

  .h1 {
    color: var(--lavender);
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  body {
    background: var(--orange);
  }

  .button:hover {
    background: linear-gradient(to right, var(--darkgolden), var(--chocolate));
    color: var(--black);
  }
}

@media (min-width: 769px) {
  body {
    background: var(--green);
    color: var(--white);
  }

  .button:hover {
    background: linear-gradient(to right, var(--lightblue), var(--lightgreen));
    color: var(--black);
  }
}
