.grid-container {
  background-color: rgb(190, 190, 231);
}

/* Grid Container 1 */

.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 10px;
}

/* Grid Container 2 */

.grid-container-2 {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 10px;
}

/* Grid Container 3 */

.grid-container-3 {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
  gap: 10px;
}

.grid-container-3 .item8 {
  grid-column: span 2;
}

/* Grid Container 4 */

.grid-container-4 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  gap: 10px;
}

.grid-container-4 .item1 {
  grid-row: span 2;
}

.grid-container-4 .item6 {
  grid-column: span 2;
}
