/* set up grid areas */
.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}

/* set up the default grid container */
.grid-container {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  grid-template-areas:
    'header'
    'article'
    'article'
    'section'
    'section'
    'section'
    'aside'
    'footer';
}

/* set up grid container for breakpoints above 576px */
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas:
      'header   header'
      'article  aside'
      'section  section'
      'footer   footer';
  }
}

/* set up grid container for breakpoints above 768px */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:
      'header   header    header'
      'article  article   aside'
      'section  section   section'
      'footer   footer    footer';
  }
}

/* set up grid container for breakpoints above 992px */
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:
      'header   header    header    header'
      'aside    article   article   article'
      'section  section   section   section'
      'footer   footer    footer    footer';
  }
}
